@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

$font-stack: "Noto Sans","Noto Sans CJK SC Light","Microsoft YaHei",sans-serif;
$cssa-red: #CC3300;
$cssa-gray-lite: #999292;
$cssa-gray-dark: #403430;
$bshadow: rgba(0,0,0,0.2);

$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);


html, body {
  background-color: $cssa-gray-lite;
  background-image: url("background.jpg");
  background-repeat: repeat;
    background-attachment: scroll;
}

.container, .container-fluid{
    background-color: white;
}
.col-red{ background-color: $cssa-red; }

nav .navbar {
    -webkit-box-shadow: 0px 1px 1px 1px $bshadow;
    -moz-box-shadow: 0px 1px 1px 1px $bshadow;
    box-shadow: 0px 1px 1px 1px $bshadow;
    z-index: 1;
    
    li.active>a{
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }
}

.close {
    background: none;
    border: none;
    color: silver;
}

.navbar li.divider {
    margin: 12px 0;
}

.carousel-caption h1{
    @media only screen and (max-width: $screen-sm-min) {
        font-size: 20px;
    } 
}

//===========

.dark {
    div {
        background-color: inherit;
        color: white;
        .small {
            color: black;
        }
    }

}

.page-title{
    color: $cssa-red;
    margin-top: 0;
    margin-bottom: 5vh;
}

.img-glyph{
    max-width: 1.6em;
    white-space: nowrap;
    margin: 10px;
}

.text-box {
    padding: 10% 5%;
    @media only screen and (max-width: $screen-md-min) {
        padding: 5%;
    } 
}

.indent{ p {text-indent: 30px;} }

.flex {
    display: flex;
    flex-direction: column;
}
.flex-center{
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.sm-center {
    @media only screen and (max-width: $screen-md-min) {
        float: none;
        text-align: center;
    }
}

.col-divider-right {
    @media only screen and (min-width: $screen-md-min) {
        position: relative;
        &:after {
            content:""; 
            background: silver; 
            position: absolute; 
            top: 10%; 
            bottom: 10%;
            right: 0; 
            height: 80%; 
            width: 1px;
        }
    }
}

//============



#footer{
    margin-top: 10vh;
    padding: 3vh 0 10vh;
    //border-top: 1px solid $bshadow;
    $height: 16*10px;
    
    background: rgb(178,171,171); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(178,171,171,1) 0%, rgba(153,146,146,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(178,171,171,1) 0%,rgba(153,146,146,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(178,171,171,1) 0%,rgba(153,146,146,1) 100%); 
  
    #qr {
        background: white;
        border-radius: 5px;
        border: 1px solid $bshadow;
        padding: 7px;
        max-width: 100px;

        -webkit-box-shadow: inset 1px 1px 1px 0px $bshadow;
        -moz-box-shadow: inset 1px 1px 1px 0px $bshadow;
        box-shadow: inset 1px 1px 1px 0px $bshadow;
    }

    
}