@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

$font-stack: "Noto Sans","Noto Sans CJK SC Light","Microsoft YaHei",sans-serif;
$cssa-red: #CC3300;
$cssa-gray-lite: #999292;
$cssa-gray-dark: #403430;
$bshadow: rgba(0,0,0,0.2);

$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);


html, body {
  background-color: $cssa-gray-lite;
  background-image: url("background.jpg");
  background-repeat: repeat;
background-attachment: scroll;
}

.container, .container-fluid{
    background-color: white;
}
.col-red{ background-color: $cssa-red; }

.navbar {
    -webkit-box-shadow: 0px 1px 1px 1px $bshadow;
    -moz-box-shadow: 0px 1px 1px 1px $bshadow;
    box-shadow: 0px 1px 1px 1px $bshadow;
    z-index: 1;
    
    .active{
        pointer-events: none;
    }
}

.close {
    background: none;
    border: none;
    color: silver;
}

//===========

.page-title{
    color: $cssa-red;
    margin-top: 0;
    margin-bottom: 16*3px;
}

.img-glyph{
    max-height: 3em;
    white-space: nowrap;
    padding: 10px;
}

.text-box {
    padding: 10% 5%;
    @media only screen and (max-width: $screen-md-min) {
        padding: 5%;
    } 
}

.indent{ p {text-indent: 30px;} }

.flex {
    display: flex;
}
.flex-center{
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.sm-center {
    @media only screen and (max-width: $screen-md-min) {
        float: none;
        text-align: center;
    }
}

.col-divider-right {
    @media only screen and (min-width: $screen-md-min) {
        position: relative;
        &:after {
            content:""; 
            background: silver; 
            position: absolute; 
            top: 10%; 
            bottom: 10%;
            right: 0; 
            height: 80%; 
            width: 1px;
        }
    }
}

//============



#footer{
    margin-top: 10vh;
    //border-top: 1px solid $bshadow;
    background-color: $cssa-gray-lite;
    $height: 16*10px;
    
    div {
        background-color: inherit;
    }
  
    #qr {
        background: white;
        border-radius: 5px;
        border: 1px solid $bshadow;
        padding: 7px;
        max-width: 100px;

        -webkit-box-shadow: inset 1px 1px 1px 0px $bshadow;
        -moz-box-shadow: inset 1px 1px 1px 0px $bshadow;
        box-shadow: inset 1px 1px 1px 0px $bshadow;
    }

    
}